#Ignore .o
*.o

#Ignore temp files
*~

listener
talker
talker2
showip
wget-curl
givemeSockets
getaddrinfo
ptrent
conlisten
genlisten
tcpbasicclient
a.out
assignment1/
assignment1_ref/
assignment2/
assignment3/
assignment_webc/myget
bobby
broadcast_udp
dumper
hostent
https
interrupted
iomodels-blocking
iomodels-nonblocking
iomodels-signal
macros
receivemeudp
receivemeudp_recv
security1
sendmeudp
signal
simpletcpclient
simpletcpserver
simptcplisten
socketoptions
sslc
sslc.dSYM/
ssls
ssls.dSYM/
support
tc
tcpechoserv
ticlient
tiserver
wc

*.exe
\#*
